

     <div class="menu-contact">
        <div>
            <h5>Danh mục</h5>
            <li>Thời trang nữ</li>
            <li>Thời trang nam</li>
            <li>Phụ kiện thời trang</li>
            <li>Bộ sưu tập nổi bật</li>
       
        </div>
        <div>
            <h5>VỀ CHÚNG TÔI</h5>
            <li>Giới thiệu</li>
            <li>Tin tức</li>
            <li>Hỏi đáp</li>
            <li>Liên hệ</li>
            
        </div>
        <div>
            <h5>THÔNG TIN</h5>
            <li>Mua hàng ngay</li>
            <li>Giỏ hàng của bạn</li>
            <li>Chính sách bảo mật</li>
            <li>Quy định thanh toán</li>
        </div>
        <div>
            <h5>HỖ TRỢ</h5>
            <li>Có một câu hỏi? Vui lòng liên hệ với chúng tôi:</li>
            <li> <i class="fas fa-phone-alt"></i> Call Us: 800-123-4567</li>
            <li> <i class="fas fa-clock"></i> Thứ 2 - Thứ 7: 9:00 am – 6:00 pm
              Chủ nhật: 9:00 am – 2:00 pm</li>
            <li> <i class="fas fa-envelope"></i> Gửi email cho chúng tôi</li>
        </div>
        <div>
            <h5>THEO CHÚNG TÔI </h5>
            <li><i class="fab fa-facebook-f"></i> Facebook</li>
            <li><i class="fab fa-instagram-square"></i> Instagram</li>
            <li><i class="fab fa-twitter"></i> Twitter</li>
            <li><i class="fas fa-mail-bulk"></i> Email</li>
        </div>
    </div>
</div>
<footer>
    <div class="bank">
    <li><a href="">Visa</a></li>
    <li><a href="">Paypal</a></li>
    <li><a href="">stripe</a></li>
    <li><a href="">VNBank</a></li>
    </div>

    <div class="introduce">
        <li><a href="">GIỚI THIỆU</a></li>
        <li><a href="">TIN TỨC</a></li>
        <li><a href="">LIÊN HỆ</a></li>
        <li><a href="">HỎI ĐÁP</a></li>
        <label> Copyright 2021 ©<strong>Web4sTheme</strong> </label>
        </div>
   
</footer>
</body>
</html>